<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    <link rel="stylesheet" type="text/css" href="/styles/transaction.css">

    <script type="text/javascript" src="/scripts/master.js" defer></script>
    <script type="text/javascript" src="/scripts/transaction.js" defer></script>
	<script type="text/javascript" src="/scripts/cart.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Shopping Cart</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
        </div>
        


    </div>

    <div class="footer">
        <img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
        <img id="cancelTransactionImage" src="/images/Cancel-Transaction.png" alt="Cancel Transaction" class="leftfooter" />
        <img id="purchaseButton" src="/images/Purchase.png" alt="Complete Transaction" class="midfooter"/>
    </div> 
    
</body>

</html>