<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/productListing.css">
    <link rel="stylesheet" type="text/css" href="/styles/transaction.css">

    <script type="text/javascript" src="/scripts/master.js" defer></script>
    <script type="text/javascript" src="/scripts/transaction.js" defer></script>
	<script type="text/javascript" src="/scripts/searchForProduct.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Search</h1>
	</div>
		
	<div id="main" class="main">
		<div class="searchWrapper">
			<form id="searchForm" action="/transaction/search" method="POST">
				<input type="text" id="searchProduct" name="searchProduct" placeholder="Search for a product">
				<button id="searchButton" type="button" class="action">Search</button>				
			</form>
		</div>
        <div class="productsSearchWrapper">

			<br />
			<br />

			<ul id="productsSearchedListing" class="products">
				<li th:each="searchProduct : ${searchProducts}">
					<input type="hidden" name="productId" th:value="${searchProduct.id}" />
					<span class="productLookupCodeDisplay" th:text="${searchProduct.lookupCode}">lookupCode</span>
					<br />&nbsp;&nbsp;<span class="productCountDisplay" th:text="${searchProduct.count}">0</span>
				</li>
			</ul>
		</div>
		


    </div>

    <div class="footer">
        <img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
        <img id="cancelTransactionImage" src="/images/Cancel-Transaction.png" alt="Cancel Transaction" class="leftfooter" />
        <img id="purchaseButton" src="/images/Purchase.png" alt="Complete Transaction" class="midfooter"/>
    </div> 
    
</body>

</html>