<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Successful Transaction</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    <link rel="stylesheet" type="text/css" href="/styles/mainMenu.css">
    <link rel="stylesheet" type="text/css" href="/styles/success.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/success.js" defer></script>
</head>

<body>

    <ul class="nav">		
		<div class="logo">
			Team OrGAINZic
		</div>
	</ul>

	<div class="header">
		<h1 class="primary-message">Order Placed!</h1>
    </div>
    <div id="main" class="main">
        <div class="successWrapper">   
            <br />
            <br/>
                <table id="transaction">
                    <tbody>
                        <tr>
                            <td class="label">Transaction ID:</td>
                            <td>
                                <input id="transactionId" type="text" th:value="${!transaction.isEmpty} ? ${transaction.id} : ''" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Cashier ID:</td>
                            <td>
                                <input id="transactionCashierId" type="text" th:value="${!transaction.isEmpty} ? ${transaction.cashierId} : ''" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Transaction Type:</td>
                            <td>
                                <input id="transactionType" type="number" th:value="${!transaction.isEmpty} ? ${transaction.type} : ''" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Transaction Reference:</td>
                            <td>
                                <input id="transactionReferenceId" type="text" th:value="${!transaction.isEmpty} ? ${transaction.referenceId} : ''" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Transaction Total (&dollar;):</td>
                            <td>
                                <input id="transactionTotal" type="text" th:value="${!transaction.isEmpty} ? ${#numbers.formatDecimal(transaction.total / 100.00, 1, 'DEFAULT', 2, 'DEFAULT')} : ''" readonly />
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <div class="footer">
        <img id="homeButtonImage" src="/images/Home.png" title="Main Menu" alt="Main Menu" class="leftfooter" />
        <img id="signOutImage" src="/images/Sign-Out.png" title="Sign Out" alt="Sign Out" class="footer" />
    </div>

</body>

</html>