<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Successful Transaction</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/success.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Success!</h1>
    </div>
    <div id="main" class="main">
        <button id="homeButton" type="button" class="action">Return To Main Menu</button>
    </div>
    <div class="footer">
        <img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
    </div>

</body>

</html>