<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Register - transaction</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/transaction.css">
	

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transaction.js" defer></script>
	
​
</head>
<body>
	<div class="header">
		<h1 class="primary-message">Transaction</h1>
	</div>

    <div id="main" class="main">
		​
        <div class="transactionWrapper">
			<button id="searchForProductButton" type="button" class="action">Search for Product</button>
			<ul id="transactionEntry" class="transactionEntries">
				<li th:each="transactionEntry : ${transactionEntries}">
					<input type="hidden" name="transactionEntryId" th:value="${transactionEntry.id}" />
					<!--<input type="hidden" name="transactionEntryTransactionId" th:value="${transactionEntry.transactionId}" /> -->
					<span class="transactionEntryProductIdDisplay" th:text="${transactionEntry.productId}">productId</span>
					<br />&nbsp;&nbsp;<span class="transactionEntryPriceDisplay" th:text="${transactionEntry.price}">0</span>
					<br />&nbsp;&nbsp;<span class="transactionEntryQuantityDisplay" th:text="${transactionEntry.quantity}">0</span>
				</li>
			</ul>
			
        </div>
	</div>
	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
		<img id="checkoutImage" src="/images/Checkout.png" alt="Checkout" class="midfooter"/>
		<img id="cancelTransactionImage" src="/images/Cancel-Transaction.png" alt="Cancel Transaction" class="leftfooter" />
	</div>
</body>
</html>