<html>
<head>
	<title>Register - transaction</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/transaction.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transaction.js" defer></script>
	<script type="text/javascript" src="/scripts/productsListing.js" defer></script>
​
</head>
<body>
	<div class="header">
		<h1 class="primary-message">Transaction</h1>
	</div>

    <div id="main" class="main">
		<div class="searchWrapper">
			<form action="/transaction/" method="POST">
				<input type="text" id="searchProduct" name="searchProduct" placeholder="Search for a product">
				<button id="searchButton" type="button" class="action">Search</button>				
			</form>
		</div>
		<div class="productsSearchWrapper">

			<br />
			<br />

			<ul id="productsListing" class="products">
				<li th:each="searchProduct : ${searchProducts}">
					<input type="hidden" name="productId" th:value="${searchProducts.id}" />
					<span class="productLookupCodeDisplay" th:text="${searchProducts.lookupCode}">lookupCode</span>
					<br />&nbsp;&nbsp;<span class="productCountDisplay" th:text="${searchProducts.count}">0</span>
				</li>
			</ul>
		</div>

		<br />
        <br />
​
        <div class="productsWrapper">
            <ul id="productsListing" class="products">
                <li th:each="product : ${products}">
                    <span class="productlookupCodeDisplay" th:text="${product.lookupCode}">Product Lookup Code</span>
                    <br /><span>&nbsp;&nbsp;</span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>