<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Register - TransactionEntry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    <link rel="stylesheet" type="text/css" href="/styles/mainMenu.css">
    <link rel="stylesheet" type="text/css" href="/styles/transactionEntryDetail.css">

    <script type="text/javascript" src="/scripts/master.js" defer></script>
    <script type="text/javascript" src="/scripts/transactionEntryDetail.js" defer></script>
</head>

<body>

    <ul class="nav">		
		<div class="logo">
			Team OrGAINZic
		</div>
	</ul>

    <div class="header">
        <h1 class="primary-message">Transaction Entry Detail</h1>
    </div>

    <div id="main" class="main">
        <div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
            <h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
        </div>

        <div class="transactionEntryDetailWrapper">
            <table id="transactionEntryDetails">
                <tbody>
                    <tr class="hidden">
                        <td>ID:</td>
                        <td>
                            <input id="transactionEntryId" type="hidden" th:value="${!transactionEntry.isEmpty} ? ${transactionEntry.id} : ''" />
                        </td>
                    </tr>
                    <tr class="hidden">
                        <td class="hidden">TransactionID:</td>
                        <td>
                            <input id="transactionEntryTransactionId" type="hidden" th:value="${!transactionEntry.isEmpty} ? ${transactionEntry.transactionId} : ''" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label">ProductID:</td>
                        <td>
                            <input id="transactionEntryProductId" type="text" th:value="${!transactionEntry.isEmpty} ? ${transactionEntry.productId} : ''" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Price:</td>
                        <td>
                            <input id="transactionEntryPrice" type="text" th:value="${!transactionEntry.isEmpty} ? ${transactionEntry.price} : ''" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Quantity:</td>
                        <td>
                           <input id="transactionEntryQuantity" type="number" th:value="${!transactionEntry.isEmpty} ? ${transactionEntry.quantity} : ''" class="update" th:disabled="not ${isElevatedUser}" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="transactionEntryActionsWrapper" th:class="(not ${isElevatedUser} OR not ${#strings.isEmpty(errorMessage)}) ? hidden : ''">
            <br />
            <div id="deleteActionContainer" th:class="${transactionEntry.isEmpty} ? hidden : ''">
                <button id="deleteButton" type="button" class="action">Delete</button>
                <br />
                <br />
            </div>
            <button id="saveButton" type="button" class="action">Save</button>
        </div>

        <div id="transactionEntrySavedAlertModal" class="modal animate-opacity-show">
            <div class="modal-content">
                <div class="container gray-blue">
                    <h1>
                        <span>TransactionEntry</span><br />
                        <span>Saved</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <img id="backButtonImage" src="/images/Back.png" title="Back to Transactions" alt="Back to Transactions" class="leftfooter" />
        <img id="signOutImage" src="/images/Sign-Out.png" title="Sign Out" alt="Sign Out" class="footer" />
    </div>


</body>
</html>