<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/transaction.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transaction.js" defer></script>
	<script type="text/javascript" src="/scripts/productsListing.js" defer></script>
​
</head>
<body>
    <div id="main" class="main">
        <button id="addButton" type="button" class="action">Add Product</button>

		<br />
        <br />
​
        <div class="productsWrapper">
            <ul id="productsListing" class="products">
                <li>
                    <span class="lookupCodeDisplay" th:text="${product.lookupCode}">Product Lookup Code</span>
                    <br /><span>&nbsp;&nbsp;1</span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>