
.nav {
	margin-top: 0;
    background-color: #ffffff;
    color: #000000;
    height: 148px;
    list-style: none;
    padding: 0 0 0 0;
    background-image: url(Banner.jpg);
    background-size: cover;
    width: auto;
}

.logo {
	font-family: fantasy;
	color: rgb(5, 133, 15);
	font-size: xx-large;
    font-weight: 200;
}