.transactionWrapper {
	display: inline-block;
}

.transactionEntries {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 22em;
}

.transactionEntries li {
	cursor: pointer;
	background-color: #EEE;
	margin: .5em;
	padding: .3em;
	height: 4em;
	width: 22em;
	border-radius: 4px;
	text-align: left;
}

.transactionEntries li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}

a.button {
	text-decoration: none;
}

button.action {
    margin: 0;
    border: 0;
    font-size: 18px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    color: #000000;
    border: solid;
    padding: 10px;
    background-color: #FFFFFF;
    cursor: default;
	text-decoration: none;
}

button.action:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
}

img.leftfooter {
	z-index: 1;
	height: 50px;
    text-decoration: none;
    display: inline-block;
	cursor: pointer;
	position: fixed;
	left: 20px;
	bottom: 20px;
}

img.midfooter {
	z-index: 1;
	height: 50px;
    text-decoration: none;
    display: inline-block;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
}